/* Colour buttons */

.buttons {
    display: flex;
}

.buttons > button {
    border: none;
    border-radius: 20px;
    font-size: 1rem;
    font-weight: 600;    
    height: 100px;
    margin: 0 0 10px;
    width: 100%;
    position: relative;
}

.change-page .reset {
    border: none;
    border-radius: 10px;
    position: relative;
    padding: 20px 30px;
    background: var(--color_white);
    font-weight: normal;
    border: 1px solid var(--color_black);
    text-align: center;
}

.buttons > button > .shadow, .reset{
    box-shadow: 2px 4px 4px rgb(0 0 0 / 30%);
}

.color {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 35%) inset;
}

.buttons > button:last-of-type {
    margin: 0 0 0px;
}

/* .buttons > .white:hover {
    text-shadow: 0px 0px 3px black;
    color: white;
    background-color: var(--grey);
} */

/* custom button to change page colors */
.buttons > .blue {
    background-color: var(--btnBlue);
    color: white;
}

.buttons > .green {
    background-color: var(--btnGreen);
    color: white;
}

.buttons > .orange {
    background-color: var(--btnOrange);
    color: var(--color_white);
}

.buttons > .red {
    background-color: var(--btnRed);
    color: var(--color_white);
}

.buttons > .white {
    background-color: #D7D7D7;
    color: var(--color_white);
    text-shadow: 0px 0px 3px var(--color_black);
}

/* pseudo-class ":where" it's the same thing to write .blue:active, .green.active...ect etc */
:where(.blue, .green, .orange, .red, .white, .form-button, .change-page-button, .save, .reset):active {
    position: relative;
    top: 2px;
}

.hover {
    overflow: hidden;
    position: relative;
}

/* .hover span {
    display: block;
    height: 100%;
    width: 100%;
} */

.buttons button span {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
} 

.buttons span:hover {
    background: rgba(0, 0, 0, .5);
}

.change-page-button:hover, .save:hover {
    /* background: rgba(0, 0, 0, 7.5%); */
    overflow: hidden;
}

.flx1 .change-page {
    margin-bottom: 20px;
    width: 90%;
}

.hoverButton {
    width: 30%;
}

/* Form buttons */
.form-button, .change-page {
    margin-top: 20px;
    text-align: end;
    width: 100%;
}

.form-button div, .change-page div {
    background-color: var(--color_white);
    border: 1px solid var(--color_black);
    border-radius: 10px;
    box-shadow: 2px 4px 4px rgb(0 0 0 / 30%);
    cursor: pointer;
    padding: 20px 30px;
    text-align: center;
}

.change-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.save {
    background-color: var(--color_white);
    border: 1px solid var(--color_black);
    border-radius: 10px;
    box-shadow: 2px 4px 4px rgb(0 0 0 / 30%);
    padding: 20px 30px;
    text-align: center;
}