@charset "UTF-8";
/* css document */

.container-fluid {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.container-fuid form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 50%;
    height: 100vh;
    text-align: center;
    border: 1px solid green;
    border-radius: 30px;
}

.user-login {
    margin: 40px 0px;
}

.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 2px 2px 10px rgb(0 0 0 / 30%);
    width: 30%;
    text-align: center;
    border-radius: 20px;
} 

.wrapper > div > label, .wrapper > div > input {
    display: block;
}

.wrapper > div > label {
    text-transform: capitalize;
    margin: 10px auto;
    font-size: 20px;
}

.wrapper > div > input {
    margin: 0 auto;
    margin-bottom: 30px;
    background: none;
    border: 1px solid green;
    border-radius: 10px;
    padding-left: 5px;
    outline: none;
    width: 200px;
    font-size: 18px;
}

.wrapper > div > span {
    display:block;
    margin: 10px auto;
    border: 1px solid green;
    border-radius: 30px;
    padding: 10px 20px;
    width: 30%;
    height: 20%;
    text-transform: capitalize;
}

.wrapper > div > span a {
    text-decoration: none;
    color: black;
}