
#cf {
    text-transform: uppercase;
}
   
/* input radio custom */
.container-radio {
    display: flex;
}

.container-radio input[type="radio"] {
    display: inline;
    margin-left: 20px
}

.container-radio label {
    text-transform: capitalize;
}

.container-radio label.radio-label {
    width: 100px;
}

.container-radio .radio {
    display: inline;
    margin-bottom: 18px;
}

.container-radio .radio input[type="radio"] {
    opacity: 0;
    position: absolute;
}

.container-radio .radio input[type="radio"]:checked + .radio-label::before {
    background-color: var(--color_darkGray);
    box-shadow: inset 0 0 0 4px var(--color_lightGray);
}

.container-radio .radio input[type="radio"]:focus + .radio-label::before {
    border-color: var(--color_lightGray);
    outline: none;
}

.container-radio .radio-label::before {
    background: var(--color_grey);
    border: 1px solid var(--color_lightGray);
    border-radius: 100%;
    content: attr(color);
    cursor: pointer;
    display: inline-block;
    height: 1.32em;
    margin-right: 1em;
    position: relative;
    top: -0.2em;
    text-align: center;
    transition: all 250ms ease;
    vertical-align: middle;
    width: 1.32em;
}

.first-page {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-right: -1px;
    width: 40%;
}

.first-page input {
    border: 1px solid var(--color_darkGray);
    border-radius: 10px;
    height: 40px;
    margin-bottom: 4px;
}

.flx-row1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

.flx-row1 .info {
    font-size: 1em;
}

/* CONTROLLA SE SERVE 
.cont input {
    border-radius: 45px;
    height: 40px;
    width: 100%;
} */

.flx1 {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    width: calc(100% / 3);
}

.flx1 input {
    border: 1px solid var(--color_lightGray);
    border-radius: 10px;
    height: 40px;
    width: 70%;
}

.flx1 > span {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.flx1 > span > span {
    margin-left: 10px;
}

.flx1 label {
    width: 100%;
}

.flxf {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    width: 40%;
}

.flxf > input {
    border-radius: 45px;
    height: 40px;
    margin-bottom: 3px;
    width: 23%;
} 

.flxf label {
    width: 20%;
}

/****** custom inpunt with value  ******/
/* .temperatura, equenza, .GCS, .fr, .ossigeno {
    width: 100%;
} */

/************/
.anam {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
    margin-top: 30px;
    width: 40%;
}

.gndr {
    margin-top: -10px;
}

.column {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 20px;
}

.column .change-page {
    margin-bottom: 20px;
    width: 90%;
}

.flxx {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
    width: 100%;
}

.gndr {
    margin-top: -10px;
}

.flxx > input {
    border-radius: 45px;
    height: 40px;
    margin-bottom: 32px;
    width: 100%;
}

textarea {
    border-radius: 10px;
    outline: none;
    padding-left: 10px;
    padding-top: 5px;
}

.text {
    margin-top: 20px;
    max-width: 300px;
}

.text div {
    border-bottom: 1px solid var(--color_black);
    margin-top: 27px;
}

.text div p, .text1 div p {
    margin-bottom: 30px;
}

.block > input, label {
    display: block;
}
.text1 {
    margin-top: 20px;
}

.text1 div{
    border-bottom: 1px solid var(--color_black);
    margin-top: 27px;
    width: 100%;
}

/* custom input number */
.wrapper-number input[type=number]::-webkit-inner-spin-button,
.wrapper-number input[type=number]::-webkit-outer-spin-button
{
  -webkit-appearance: none;
}

.wrapper-number {
    border: 1px solid black;
    width: 50%;
    overflow: hidden;
    display: flex;
    border-radius: 10px;
    height: 40px;
}

.wrapper-number > input {
    border: none;
    width:80%;
}

.wrapper-number .set-value {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ebebeb;
    width: 50%;
    justify-content: center;
    position: relative;
}

.plus, .min {
    cursor: pointer;
    position: absolute;
    padding: 0 20px;
}

.plus:after {
    content: '+';
    display: inline-block;
    font-size: 1.2rem;
}

.min:after {
    content: '-';
    display: inline-block;
    font-size: 1.2rem;
}

.plus {
    top: -3px;
}

.min {
    top: 14px;
}
