.anam {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
    margin-top: 30px;
    width: 40%;
}

.flx1 {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    width: calc(100% / 3);
}

/* .flx1 input {
    border: 1px solid var(--color_lightGray);
    border-radius: 10px;
    height: 40px;
    width: 70%;
} */

.flx1 label {
    width: 100%;
}

.flx1 > span {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.flx1 > span > span {
    margin-left: 10px;
}

.flx-row1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

.flx-row1 .info {
    font-size: 1em;
}

.flxx {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
    width: 100%;
}

.flxx > input {
    border-radius: 45px;
    height: 40px;
    margin-bottom: 32px;
    width: 100%;
}

.gcs-input {
    border: 1px solid var(--color_lightGray);
    border-radius: 10px;
    height: 40px;
    width: 70%;
}

.min {
    top: 14px;
}

.min:after {
    content: '-';
    display: inline-block;
    font-size: 1.2rem;
}

.plus {
    top: -3px;
}

.plus, .min {
    cursor: pointer;
    position: absolute;
    padding: 0 20px;
}

.plus:after {
    content: '+';
    display: inline-block;
    font-size: 1.2rem;
}

.second-page {
    display: flex;
    flex-direction: column;
    /* width: 100%;
    margin-left: 20px; */
}

.second-page .change-page {
    margin-bottom: 20px;
    width: 90%;
}

textarea {
    border-radius: 10px;
    outline: none;
    padding-left: 10px;
    padding-top: 5px;
}

/* custom input number */
.wrapper-number {
    border: 1px solid black;
    width: 50%;
    overflow: hidden;
    display: flex;
    border-radius: 10px;
    height: 40px;
}

.wrapper-number input[type=number]::-webkit-inner-spin-button,
.wrapper-number input[type=number]::-webkit-outer-spin-button
{
  -webkit-appearance: none;
}

.wrapper-number > input {
    border: none;
    width:80%;
}

.wrapper-number .set-value {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ebebeb;
    width: 50%;
    justify-content: center;
    position: relative;
}