/* Recap page */
.final-page {
    padding: 20px;
    width: 100%;
}

.final-page .change-page {
    justify-content: space-around;
}

.row1 {
    font-size: 1.5rem;
}

.row2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.row1 > span:last-child {
    font-weight: 600;
}

.text {
    margin-top: 20px;
    max-width: 300px;
}

.text div {
    border-bottom: 1px solid var(--color_black);
    margin-top: 27px;
}

.text div p, .text1 div p {
    margin-bottom: 30px;
}

.text1 {
    margin-top: 20px;
}

.text1 div {
    border-bottom: 1px solid var(--color_black);
    margin-top: 27px;
    width: 100%;
}

.row1 {
    font-size: 1.5rem;
    text-align: center;
}

.row2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
