/* prit recup dati */

@media print {
    :where(.wrapper-num, .snake-pic, .buttons > button, .change-page > .change-page-button, .home) {
        display: none;
    }

    .row1 {
        display: inline;
    }
    
    footer {
        position: absolute;
        bottom: 0;
    }
}