/* responsive page */

/* Laptop - max 1024px */
@media only screen and (max-width: 1024px) {
    .snake-pic {
        display: none;
    }

    .center-block {
        width: 60%;
    }

    .buttons {
        margin-right: 50px;
    }

    .flx1 {
        width: 40%;
    }

    .flx1 > input {
        width: 68%;
    }
}

/*  Laptop - min 1024px */
@media only screen and (min-width: 1024px) {
    .center-block {
        padding: 20px;
        width: 60%;
        margin: 0 20px;
    }

    .snake-pic {
        margin-right: 10px;
    }

    .buttons {
        margin-left: 10px;
    }

    .buttons button {
        font-size: 1.5rem;
    }
    .text, .text1 {
        width: 33%;
    }

    .page-num {
        margin: 0 auto;
    }

    .buttons {
        margin-right: 50px;
    }

    .flx1 > input {
        width: 68%;
    }

    .text, .text1 {
        width: 33%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .center-block {
        width: 90%;
    }
    .buttons {
        margin-right: 0;
    }
    .second-page {
        margin: 0 10px;
    }
}

/*  Tablet - max 768px */
@media only screen and (max-width: 768px) {
    /* .center-block {
        width: 65%;
    } */

    .text, .text1 {
        width: 33%;
    }

    .page-num {
        margin-left: 7%;
    }

    label.info {
        font-size: 1rem;
    }

    .snake-pic {
        display: none;
    }

    .flx1 > input {
        width: 56%;
    }

    textarea {
        width: 90%;
    }

    .change-page {
        justify-content: space-between;
        width: 90%;
    }

    .change-page div:last-child {
        margin-right: 10px;
    }

    .flxx {
        width: 90%;
    }

    .final-page {
        padding: 0;
    }

    .final-page .text1 {
        margin-left: 2%;
    }

    .buttons {
        margin-right: 0px;
        display: flex;
    }
}
@media only screen and (min-width: 768px) {
    .text, .text1 {
        width: 33%;
    }

    .wrapper-center {
        display: flex;
        justify-content: space-between;
        margin: 0 30px;
    } 

    .buttons {
        margin: 0 10px;
        width: 170px;
        display: flex;
        flex-direction: column;
    }

    .flx1 > input {
        width: 58%;
        font-size: 1rem;
    }

    .flxx, textarea {
        width: 90%;
    }

    .page-num {
        width: 670px;
    }

    .page1::after, .page2::after {
        width: 280px;
    }
}
@media only screen and (max-width: 660px) {
    .buttons {
        display: flex;
        justify-content: space-between;
    }

    button.hover {
        margin-right: 10px;
        height: 100px;
        width: 100px;
    }
}

/* Tablet - min 768px */

@media only screen and (min-width: 660px) and (max-width: 767px) {
    .wrapper-center {
        display: flex;
        margin: 0 auto;
        flex-direction: column-reverse;
        width: 90%;
    }

    .center-block {
        padding: 10px;
        width: 100%;
    }

    .flx1 > input {
        width: 52%;
    }

    .change-page {
        justify-content: space-between;
    }

    .page-num {
        width: 95%;
        overflow: hidden;
    }

    .page1::after, .page2::after {
        width: 310px;
    }

    .buttons button {
        margin-right: 10px;
    }
} 
/* and */
@media screen and (min-width: 425px) and (max-width: 660px) {
    .container-radio label.radio-label {
        width: 70px;
    }
    .center-block {
        width: 100%;
        padding: 0 10px;
    }

    .wrapper-center {
        display: flex;
        justify-content: flex-end;
        margin: 0 auto;
        width: 90%;
        flex-direction: column-reverse;
    }

    .second-page {
        width: 100%;
    }

    .flx {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        margin-right: 0;
    }

    .flx1 {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .flx-row1 {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }

    .flx1 {
        width: 90%
    }

    .flx1 > input {
        margin-bottom: 10px;
        width: 80%;
    }

    .buttons {
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    .buttons p {
        font-size: 15px;
    }

    .page1::after, .page2::after {
        width: 285px;
    }

    .change-page {
        margin-bottom: 20px;
    }

    .change-page-button {
        margin-bottom: 20px;
    }
}

/* Mobile L - 425px */
@media screen and (max-width: 425px) {
    .buttons button span {
        font-size: 0.9rem;
    }
}
@media screen and (min-width: 425px) {
    .page-num {
        overflow: hidden;
    }
}