@charset "UTF-8";
/* css document */
@import "buttons.css";
@import "login.css";
@import '../../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import "page1.css";
@import "page2.css";
@import "page3.css";
@import "responsive.css";
@import "select2.css";
@import "print.css";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*, *::after, *::before {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

/* write here the code that will be reproduced 
* in several parts of the page  */
:root {
    --color_black: #000;
    --color_darkGray: #6e6d6d;
    --color_green: #008000;
    --color_grey: #c4c4c4;
    --color_lightGray: #a4a4a4;
    --color_lightestGray: #DBDBDB;
    --color_red: #ff0000;
    --color_white: #fff;
    --btnBlue: #32C5F3;
    --btnGreen: #74BF42;
    --btnOrange: #F99F1A;
    --btnRed: #EE1C23;
}

/* Background */
.bkr-img {
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    /* z-index: -3; */
}

/* Header */
.bigger {
    font-size: 25px;
}

/* Central block form */
.center-block {
    background: rgba(255, 255, 255, 0.9);
    border: 1px solid var(--color_green);
    border-radius: 30px;
    box-shadow: 2px 2px 10px rgb(0 0 0 / 30%);
    margin: 0 auto 20px;
}

.center-block label {
    margin-bottom: 5px;
}

.container-header {
    height: 135px;
    width: 100%;
}

.dateTime {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
}

.date-time span.menu {
    margin-left: 20px;
    position: relative;
    cursor: pointer;
    top: -3px;
}

.date-time span.menu img{
    width: 30px;
}

.date-time ul {
    position: absolute;
    right: 19px;
    top: 61px;
    background-color: var(--color_darkGray);
    z-index: 10;
    padding: 15px;
}

.date-time ul::before {
    display: inline-block;
    content: '';
    width: 10px;
    height: 10px;
    position: absolute;
    right: 6px;
    top: -10px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 10px solid var(--color_darkGray);
}

.date-time ul li {
    list-style-type: none;
    margin: 10px 0;
}

.date-time ul li img {
    width: 15px;
    position: relative;
    top: -2px;
}

.date-time > ul > li > a {
    text-decoration: none;
    color: white;
}

.date-time > ul > li > a:hover {
    background: transparent;
}

footer {
    height: 100px;
    margin-top: 40px;
}

footer .logo {
    height: 40px;
    width: 40px;
}

footer > .help > a, .wrapper-header > .operator a {
    cursor: pointer;
    padding: 40px 5px;
    text-decoration: none;
}

footer > .help > a:hover, .wrapper-header > .operator a:hover {
    background-color: var(--color_lightestGray);
}

footer, .wrapper-header {
    align-items: center;
    background-color: var(--color_grey);
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    padding: 20px;
    width: 100%;
}

/* class form */
form.frm {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.frm input {
    margin-right: 2%;
    padding-left: 10px;
    outline: none;
}

.header {
    z-index: 1;
}

.header .wrapper-header > div > img {
    width: 30px;
}

:is(.page1, .page2)::after {
    /*
    * block: makes class visible and take 100%
    * inline: DON'T take 100%
    * inline-block: inline element, but behaves like a block
    *      el, so with padding/margin/etc.
    */
    background-color: cadetblue;
    content: '';
    display: inline-block;
    height: 1px;
    left: 39px;
    position: absolute;
    top: 19px;
}

/* Page numbers */
.page-num {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 7px;
}

.page {
    background: var(--color_white);
    border: 1px solid var(--color_black);
    border-radius: 10px;
    height: 40px;
    position: relative;
    text-align: center;
    width: 40px;
    cursor: pointer;
}

.page:hover {
background-color: #d7d7d7;
}

/* numbers */
.page-num span {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.snake-pic {
    opacity: 30%;
}

.snake-pic svg {
    fill: var(--color_grey);
}

/* label and input */

/* Recap page */
.text1 div > span, .text div > span {
    display: block;
}

.wrapper-num {
    width: 100%;
    z-index: 2;
}

/* label and input */
.frm input {
    margin-right: 2%;
    padding-left: 10px;
    outline: none;
}

/* color svg logo footer blocco unico non staccare pls!!!!! */
/* svg custom hospital footer */
svg g:last-child {
    fill: black;
}

.logo svg {
    width: 150px;
}
.st0{ fill:#F96D11; }
.st1{ fill:#1FA8CB; }
.st2{ fill:#FA100C; }
.st3{ fill:#195997; }

/* end!!!!! */